:host {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 1mm;
  background-color: #fefefe;
  font-size: 12pt;

  p {
    box-sizing: border-box;
    margin:0;
    width: 100%;
    min-height: 2em;
    line-height: 2em;
    padding: 0 1em;
    border-bottom: 1px solid #cccccc;
    text-align: right;
  }

  p:first-child {
    border-bottom-left-radius: 1mm;
    border-bottom-right-radius: 1mm;
    border-bottom: none;
  }
  p:last-child {
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
    
  }
}