:host {
  margin: auto;
  width: 300px;
  height: 640px;

  display: flex;
  flex-direction: column;

  article {
    padding: 0 1em;
    border: 1px solid #4F5D75;
    background-color: rgba(0, 120, 255, .2);
    border-radius: 1mm;
    margin: 5mm 0;
    font-size: 9pt;
  }
  label {
    margin: 2mm 0 0 0;
      p {
        margin: 1mm 0;
        padding: 0 .5em;
        border: 1px solid #4F5D75;
        background-color: #EEEEEE;
        border-radius: 1mm;
        line-height: 2em;
        min-height: 2em;
      }
  }

  div {
    display: flex;
    flex-direction: row wrap;
    line-height: 2em;
    min-height: 2em;
    margin: 1mm 0;
    padding: 0;
    border: 1px solid #4F5D75;
    background-color: #EEEEEE;
    border-radius: 1mm;

    p {
      display: flex;
      border: none;
      margin: 0;
      text-align: center;
      padding: 0 .2em;
      background-color: transparent;
      //border-right: 1px solid #4F5D75;
    }
    p:first-child {
      padding-left: .5em
    }
  }
  
  .done {
    color: #0097D9;
  }

  .active {
    color: #EF8354;
  }
}
